* {
	padding: 0;
	margin: 0 auto;
}

ul,
li {
	list-style: none;
}

a {
	text-decoration: none;
	color: black;
}

body {
	/* background-color: #FFFFFF; */
	margin: 0 auto;
}

img{
	transition: all 0.7s ease 0s;
}
img:hover{
	transform: scale(1.2,1.2);
}


/* 登陆注册栏 */
#registerandlogin {
	margin-top: 20px;
	width: 1300px;
	font-size: 20px;
	height: 30px;
	/* color: #1E90FF; */
	position: relative;
}

#wrap {
	position: absolute;
	right: 0px;
	font-size: 23px;
}

/* logo一栏 */
#navigationbar {
	width: 1400px;
	height: 180px;
	/* border: 1px solid red; */
}


#logoimg {
	width: 220px;
	height: 180px;
}

#navigationbar>li {
	float: left;
	width: 210px;
	height: 138px;
	margin-left: 32px;
	/* border: 1px solid red; */
}

.allproducts {
	font-size: 22px;
	color: #1E90FF;
	text-align: center;
	/* background: #CCCDDD; */
}

.allproducts:hover {
	background: #87d0e0;
}

#call {
	padding-left: 30px;
}

.box {
	width: 1200px;
	height: 500px;
	margin: 10px auto;
	position: relative;
	overflow: hidden;
}

.slider {
	width: 8400px;
	position: absolute;
	left: -1200px;
}

.slide {
	width: 1200px;
	overflow: hidden;
	float: left;
}

.tu {
	width: 1200px;
	height: 500px;
}

.box>span {
	display: block;
	width: 30px;
	height: 50px;
	text-align: center;
	cursor: pointer;
	top: 210px;
	line-height: 50;
	background: #AFFFFF;
	font-size: 30px;
	position: absolute;
	opacity: 0;
}

#left {
	left: 20px;
}

#right {
	right: 20px;
}

#fenge{
	margin: 0 auto;
	height: 30px;
	width: 1400px;
}
#cakediv {
	width: 1300px;
	height: 1300px;
}
#cakeul li{
	width: 400px;
	height: 400px;
}
.cakeli {
	float: left;
	width: 400px;
	height: 400px;
	position: relative;
	margin: 10px 10px;
	transition: all 0.7s ease 0s;
	overflow: hidden;
}

.cakeli span {
	display: none;
	text-decoration: none;
	font-size: 20px;
}

.detail {
	display: none;
	text-decoration: none;
	font-size: 20px;
}

.cakeli:hover {
	cursor: pointer;
	transform: scale(1.07,1.07);
}

.cakeli:hover span {
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	color: #FFFFFF;
	width: 400px;
	z-index: 10;
	height: 150px;
	line-height: 36px;
	background: #000000;
	opacity: 0.7;
}

.cakeli:hover span a {
	color: #FFFFFF;
	font-size: 25px;
}

#buttomtxt {
	width: 1500px;
	border-top-style: groove;
}

#bu1 {
	height: 40px;
	font-size: 25px;
	/* background-color: #CCCCCC; */
}

#commonsense li {
	margin-left: 20px;
	margin-top: 5px;

}

#commonsense li a {
	color: #1688EA;
}
.right-wrap-all{
	right: 0px;
	position: fixed;
	/* width: 200px; */
	font-size: 20px;
	padding-top: 0px;
	/* border: 1px solid red; */
}
#right1 {
	top: 650px;
	
}
#GoTop{
	width: 150px;
	height: 80px;
}
